.content_2 {
    background: radial-gradient(circle, rgba(243,10,10,1) 0%, rgba(248,122,12,1) 21%, rgba(244,213,6,1) 40%, rgba(80,236,17,1) 60%, rgba(43,47,239,1) 82%, rgba(143,54,210,1) 91%, rgba(90,85,85,1) 100%);    width: 650px;
    height: 650px;
    position: relative;
}

.content {
    border: 2.0px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: cyan;
    text-align: center;
    animation: anim 3.5s ease-in-out infinite;
}

.content_1 {
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%); 
}

.fa {
    font-size: 50px;
    line-height: 100px;
}

@keyframes anim {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(25deg) scale(2.0);
        color: yellow;
        border: 3px solid chartreuse;
    }
    100%{
        transform: rotate(-25deg)
    }
}
